* {
	margin: 0;
	font-family: sans-serif;
}
.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #bdc3c7;
	padding: 10px;
}

.logo {
	width: 100px;
	margin-right: 20px;
}
